<h1>Functions</h1>

In [1]:
def welcome():
    print("Hello programmers")

welcome()
welcome()

Hello programmers
Hello programmers

<h3>Function with arguments</h3>

In [2]:
def welcome_person(name):
    return f"Hello {name}"

print(welcome_person("Ali"))
print(welcome_person("joyia"))

Hello Ali
Hello joyia

<h3>Positional and keyword arguments</h3>

In [3]:
#Here age is keyword argument
#name is positional argument
def detail(name,age=20):
    return f"Hello my name is {name} and my age is {age}"

print(detail("Ali"))
print(detail())

Hello my name is Ali and my age is 20

TypeError: detail() missing 1 required positional argument: 'name'

<h3>Lambda function</h3>
<ol>
<li>Also called as annonymous function</li>
<li>Function with no name</li>
<li>If our function has only one expression then we can convert it into lambda function</li>
<li>It runs faster then ordinary function</li>
</ol>

In [5]:
def addition(a,b):
    return a+b

addition(6,5)

11

In [7]:
add = lambda a,b:a+b
add(1,2)

3

In [8]:
def even_odd(num):
    if num%2==0:
        return f"{num} is even"
    else:
        return f"{num} is odd"
    
print(even_odd(12))
print(even_odd(21))
print(even_odd(13))

12 is even
21 is odd
13 is odd

In [9]:
even_odd=lambda num: num%2==0

print(even_odd(12))
print(even_odd(21))
print(even_odd(13))

True
False
False

<h3>Map function</h3>
<p>Function is called for every element in iterable</p>

In [11]:
def even_odd(num):
    if num%2==0:
        return f"{num} is even"
    else:
        return f"{num} is odd"
    
print(even_odd(221))
print(even_odd(22))
print(even_odd(222))

221 is odd
22 is even
222 is even

In [12]:
list_num = [1,2,3,4,65,76,87,21]

for num in list_num:
    print(even_odd(num))

1 is odd
2 is even
3 is odd
4 is even
65 is odd
76 is even
87 is odd
21 is odd

In [13]:
map(even_odd,list_num) #Lazy loading technique (means we will only get result when needed) (memory is not initialized yet)

In [14]:
list(map(even_odd,list_num))

['1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '65 is odd',
 '76 is even',
 '87 is odd',
 '21 is odd']

<h3>Filter function</h3>
<p>Function is called for every element in iterable and only those elemnts are returned for which condition is True </p>

In [16]:
def even_odd(num):
    if num%2==0:
        return f"{num} is even"
    else:
        return f"{num} is odd"
    
list_num = [1,2,3,4,65,76,87,21]

list(filter(even_odd,list_num))

[1, 2, 3, 4, 65, 76, 87, 21]

In [17]:
def even_odd(num):
    if num%2==0:
        return True
    
list_num = [1,2,3,4,65,76,87,21]

list(filter(even_odd,list_num))

[2, 4, 76]

In [19]:
list_num = [1,2,3,4,65,76,87,21]
list(filter(lambda num:num%2==0,list_num))

[2, 4, 76]

In [20]:
list_num = [1,2,3,4,65,76,87,21]
list(map(lambda num:num%2==0,list_num))

[False, True, False, True, False, True, False, False]

<h3>List comprehension</h3>
<ol>
    <li>It provides a concise way of creating a list </li>
    <li>It consists square bracket followed by a expression and for clause , and one or more for loop or if clause</li>
</ol>

In [11]:
list2=[]
def list_square(lis):
    for i in lis:
        list2.append(i*i)
    return list2

In [12]:
print(list_square([1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [13]:
lis=[1,2,3,4,5]
[i*i for i in lis]

[1, 4, 9, 16, 25]

In [14]:
lis=[1,2,3,4,5]
[i*i for i in lis if i%2==0]

[4, 16]

<h3>iterables and iterators</h3>
<ol>
    <li>In case of iterables,all value get initialized in memory while in case of iterator value only get initialized when we use next function</li>
</ol>

In [15]:
#Here all list values are initialized in memory
list1=[1,2,3,4,5,6,7,8]
for i in list1:
    print(i)

1
2
3
4
5
6
7
8

In [26]:

list1=[1,2,3,4,5,6,7,8]
list2=iter(list1)

In [29]:
print(next(list2))

3

In [30]:
print(next(list2))

4

In [31]:
for i in list2:
    print(i)

5
6
7
8